<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhotoRobot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PhotoRobot.Properties.Settings>
            <setting name="PathToDirectoryOne" serializeAs="String">
                <value>Путь до файловой директории отсутствует</value>
            </setting>
            <setting name="PathToDirectorySecond" serializeAs="String">
                <value>Путь до файловой директории отсутствует</value>
            </setting>
            <setting name="PathToDirectoryThird" serializeAs="String">
                <value>Путь до файловой директории отсутствует</value>
            </setting>
        </PhotoRobot.Properties.Settings>
    </userSettings>
</configuration>
